[submodule "Java/DSA-Bootcamp-Java-By-Kunal_Kushwaha"]
	path = Java/DSA-Bootcamp-Java-By-Kunal_Kushwaha
	url = https://github.com/CyberKnight-cmd/DSA-Bootcamp-Java
[submodule "solved-leetcode-problems"]
	path = solved-leetcode-problems
	url = https://github.com/CyberKnight-cmd/solved-leetcode-problems
[submodule "CPP"]
	path = CPP
	url = https://github.com/cyberknight-cmd/cpp-dsa.git
[submodule "solved-codingninjas-problems"]
	path = solved-codingninjas-problems
	url = https://github.com/CyberKnight-cmd/solved-codingninjas-problems.git
[submodule "Git"]
	path = Git
	url = https://github.com/CyberKnight-cmd/Git
